<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <!--  Max file length of 2500  -->
    <module name="FileLength">
        <property name="max" value="2500"/>
    </module>
    <!--  File Tab  -->
    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>
    <!-- TreeWalker  -->
    <module name="TreeWalker">
        <!--  BooleanExpressionComplexity  -->
        <module name="BooleanExpressionComplexity">
            <property name="max" value="5"/>
        </module>
        <!--  Cyclomatic complexity  -->
        <module name="CyclomaticComplexity">
            <property name="max" value="15"/>
        </module>
        <!--  Method length  -->
        <module name="MethodLength">
            <property name="tokens" value="METHOD_DEF"/>
            <property name="max" value="60"/>
        </module>
        <!--  Empty Catch Block  -->
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore"/>
        </module>
        <!--  Avoid star import  -->
        <module name="AvoidStarImport">
            <property name="excludes" value="java.io,java.net,java.lang.Math"/>
        </module>
        <!--  Illegal Import  -->
        <module name="IllegalImport">
            <property name="illegalPkgs" value="java.io, java.sql"/>
        </module>
        <!--  Need braces  -->
        <module name="NeedBraces">
            <property name="tokens" value="LITERAL_IF, LITERAL_ELSE"/>
        </module>
    </module>
    <!--  Accademic heading  -->
    <module name="Header">
        <property name="header" value="////////////////////////////////////////////////////////////////////\n// [Olivier] [Utshudi] [1143556]\n////////////////////////////////////////////////////////////////////"/>
        <property name="fileExtensions" value="java"/>
    </module>
</module>
